<div class="container-accordion">
  <div class="card flex justify-content-center">
    <p-accordion class="w-full">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <p class="customer-header">{{ 'productDetailsItemTitle' | translate }}</p>
        </ng-template>
        <ng-template pTemplate="content">
          <p class="m-0">
            {{ 'productDetails' | translate }}
          </p>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <p class="customer-header">{{ 'materialsItemTitle' | translate }}</p>
        </ng-template>
        <ng-template pTemplate="content">
          <p class="m-0">
            {{ 'materials' | translate }}
          </p>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <p class="customer-header"> {{ 'careTextTitle' | translate }}</p>
        </ng-template>
        <ng-template pTemplate="content">
          <p class="m-0">
            {{ 'careText' | translate }}
          </p>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <p class="customer-header"> {{ 'whereImFromItemTitle' | translate }}</p>
        </ng-template>
        <ng-template pTemplate="content">
          <p class="m-0">
            {{ 'whereImFromText' | translate }}
          </p>
          <div>
            <google-map height="500px" width="100%" [options]="options"  [style]="stylers">
              <map-marker [position]="marker.position"></map-marker>
            </google-map>
          </div>

        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <p class="customer-header">{{ 'environmentImpactItemTitle' | translate }}</p>
        </ng-template>
        <ng-template pTemplate="content">
          <p class="m-0">
            {{ 'environmentImpactText' | translate }}
          </p>
          <div>
            <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!"
              [dataLabels]="chartOptions.dataLabels!" [plotOptions]="chartOptions.plotOptions!"
              [xaxis]="chartOptions.xaxis!"></apx-chart>
          </div>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <p class="customer-header">{{ 'circularityItemTitle' | translate }}</p>
        </ng-template>
        <ng-template pTemplate="content">
          <p class="m-0">
            {{ 'circularityText' | translate }}
          </p>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <p class="customer-header">{{ 'complianceItemTitle' | translate }}</p>
        </ng-template>
        <ng-template pTemplate="content">
          <p class="m-0">
            {{ 'complianceText' | translate }}
          </p>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
