<div class="container-accordion">
  <mdb-accordion>
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader class="title-center">{{ 'productDetailsItemTitle' | translate }}</ng-template>
      <ng-template mdbAccordionItemBody>
        {{ 'productDetails' | translate }}
      </ng-template>
    </mdb-accordion-item>
  
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>{{ 'materialsItemTitle' | translate }}</ng-template>
      <ng-template mdbAccordionItemBody>
        {{ 'materials' | translate }}
      </ng-template>
    </mdb-accordion-item>
  
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>{{ 'careTextTitle' | translate }}</ng-template>
      <ng-template mdbAccordionItemBody>
        {{ 'careText' | translate }}
      </ng-template>
    </mdb-accordion-item>

    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>{{ 'whereImFromItemTitle' | translate }}</ng-template>
      <ng-template mdbAccordionItemBody>
        {{ 'whereImFromText' | translate }}
      </ng-template>
    </mdb-accordion-item>
    
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>{{ 'environmentImpactItemTitle' | translate }}</ng-template>
      <ng-template mdbAccordionItemBody>
        {{ 'environmentImpactText' | translate }}
      </ng-template>
    </mdb-accordion-item>
    
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>{{ 'circularityItemTitle' | translate }}</ng-template>
      <ng-template mdbAccordionItemBody>
        {{ 'circularityText' | translate }}
      </ng-template>
    </mdb-accordion-item>

    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>{{ 'complianceItemTitle' | translate }}</ng-template>
      <ng-template mdbAccordionItemBody>
        {{ 'complianceText' | translate }}
      </ng-template>
    </mdb-accordion-item>
  </mdb-accordion>
</div>
