p{
  text-align: left;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 1.1em;
  line-height: 160%;
}
.header {
  font-family: Montserrat, sans-serif;
  font-size: 1.1em;
  line-height: 160%;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  width: 30%;
}

.small-logo {
  max-width: 80px; /* Establece el ancho máximo que deseas */
  height: auto; /* Mantiene la relación de aspecto original */
}

nav {
  float: left;
  display: flex;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

.menu-button {
  display: none;
}

.menu-button label {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.menu-button input[type="checkbox"] {
  display: none;
}

.menu {
  list-style: none;
  padding: 0;
  margin-left: 20px;
}

.menu li {
  display: inline;
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.left-nav {
  display: flex;
  margin-right: 10px;
}

.online-store {
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
}

.search-button button {
  border: none;
  background-color: transparent;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

/* Estilos para la tarjeta */
.card {
  font-family: Montserrat, sans-serif;
  font-size: 1.1em;
  line-height: 160%;
  width: 80%;
  max-width: 1440px;
  height: auto;
  margin: 20px auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: beige;
  display: flex;
  flex-direction: row; /* Cambiado para que la imagen esté a la izquierda */
  opacity: 0; /* Tarjetas inicialmente invisibles */
  transform: translateY(50px); /* Desplazar hacia abajo */
  transition: opacity 1s ease, transform 0.5s ease; /* Transición suave */
}

.visible {
  opacity: 1; /* Tarjetas visibles al 100% */
  transform: translateY(0); /* Sin desplazamiento */
}

.card-img {
  width: 28.33%;
  padding: 0; /* Añadido padding para reducir espacio */
}

.card-img img {
  max-width: 100%; /* Añadido para que la imagen sea responsiva */
  height: 300px; /* Añadido para que la imagen sea responsiva */
  float: left; /* Cambiado para que la imagen esté a la izquierda */
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 1rem 0rem 4rem; /* Ajustado el padding para reducir espacio */
  position: relative;
  background-color: #fff;
}

.card-title {
  font-family: Montserrat, sans-serif;
  line-height: 160%;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.card-number {
  font-size: 80px; /* Ajustado el tamaño del número */
  position: absolute;
  top: -10px; /* Posicionado en la esquina superior derecha */
  right: 10px; /* Posicionado en la esquina superior derecha */
  color: #e03a5059;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.07em;
  word-wrap: break-word;
  line-height: 160%;
}

.card-subtitle {
  font-size: 18px;
  color: #d6001c;
  margin-top: 1rem;
}

.card-description {
  font-family: Montserrat, sans-serif;
  margin-top: 10px;
  font-size: 16px;
  color: #555;
  height: calc(100% - 10px);
  white-space: pre-line;
}

.centered-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.centered-container .content {
  font-size: 16px; /* Ejemplo: Tamaño de fuente para el contenido */
  color: #333;
}

.content h1 {
  font-family: Montserrat, sans-serif;
  line-height: 160%;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.content p {
  font-family: Montserrat, sans-serif;
  line-height: 160%;
  font-size: 15px;
  font-weight: lighter;
  color: #333;
}

.card-button {
  display: flex;
  position: absolute;
  bottom: 10px; /* Posicionado en la esquina inferior derecha */
  right: 10px; /* Posicionado en la esquina inferior derecha */
  width: 210px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.card-button span {
  margin-left: 10px;
}

@media (max-width: 400px) {
  .header{
    font-size: 12px;
  }
  .logo {
    font-size: 28px;
    width: 30%;
  }
  .small-logo {
    max-width: 40px;
    height: auto;
  }
  .card-title {
    white-space: inherit;
  }
  .card-subtitle {
    font-size: 14px;
  }

  .card-description {
    font-size: 14px;
    line-height: 1.7;
  }
}

@media (max-width: 375px) {
  .card-title {
    white-space: inherit;
    width: 85%;
  }
  .card-subtitle {
    font-size: 12px;
  }

  .card-description {
    font-size: 9px;
    line-height: 1.7;
  }
}

@media (max-width: 250px) {
  .header{
    font-size: 8px;
  }
  .logo {
    font-size: 15px;
    width: 30%;
  }
  .small-logo {
    max-width: 30px;
    height: auto;
  }
}

@media (max-width: 700px) {
  .card{
    flex-direction: column;
    display: -webkit-box; /* Antiguos navegadores webkit como Safari */
    display: -webkit-flex; /* Antiguos navegadores webkit como Safari */
    display:flex;

  }

  .card-description{
    height: 200px;
    font-size: 12px;
    text-align: justify;
    width: 90%;

  }

  #btnVer{
    width: 100%;
  }

  .card-img{
    max-width: 100%;
    max-height: 100%;
    align-self:center;
    width: 100%;
  }

  .card img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }

  .card-content{
    overflow: auto;
    padding: 0.5rem 1rem 0 2rem;
  }

  .card-subtitle{
    font-size: 14px;
  }

  .card-title{
    font-size: 16px;
  }

  .card-number{
    font-size: 26px;
    top: 0;
  }

  #justify-content{
    font-size: 10px;
    text-align: justify;
  }

}
