<app-header [logoUrl]="infoProduct.logoUrl" ></app-header>
<div class="app-container margin-after-header">
  <div class="content">
    <button (click)="changeLanguage('en')">English</button>
    <button (click)="changeLanguage('es')">Español</button>
    <section>
        <div class="container-main-sections">
            <app-detail-product [photos]="infoProduct.photos" (eventChangeProduct)="changeProduct($event)"></app-detail-product>
            <app-recommendations [productsMayAlsoLike]="infoProduct.productsMayAlsoLike"></app-recommendations>
        </div>
        <app-information-product></app-information-product>
        <p class="text-center">Let's get Social!</p>
        <div class="logos-apps">
            <img src="assets/facebook.png" alt="">
            <img src="assets/instagram.png" alt="">
            <img src="assets/linkedin.png" alt="">
        </div>
    </section>
  </div>
</div>