<article>
    <div class="">
        <div class="image-container">
            <mdb-carousel [dark]="true" [controls]="true" [indicators]="true" [animation]="'fade'">
                <mdb-carousel-item *ngFor="let image of photos">
                  <img
                    [src]=image
                    class="d-block w-100"
                    alt="First slide"
                  />
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
    </div>
    <section>
        <h1 class="name-product">{{ 'productTitle' | translate }}</h1>
        <p class="subtitle">{{ 'authenticText' | translate }}</p>
    </section>
</article>