<article class="container-recommendations">
    <h2>You may also like</h2>
    <div class="recommendations-image">
        <div class="image-container-recommendation">
            <img src="assets/caio-coelho-NA9dtyWAFV4-unsplash.jpg" alt="">
        </div>
        <div class="image-container-recommendation">
            <img src="assets/caio-coelho-QRN47la37gw-unsplash.jpg" alt="">
        </div>
        <div class="image-container-recommendation">
            <img src="assets/caio-coelho-rjsee9nKsYE-unsplash.jpg" alt="">
        </div>
    </div>
</article>